*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}   

#calculator{
    display: grid;
}

.operator{
    background-color: rgb(173, 177, 185);
    height: 100px;
    border: 1px solid black;

}   


.operators{
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
  }

.button{
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    box-sizing: content-box;
}

#equal{
    background-color: lightcoral;
    grid-column: 4 / 5;
    grid-row: 1 / span 4;
}

.calc_display{
    grid-column: 2 / 4;
    height: 100px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

